function isLoggedIn() {
    return request.auth != null;
}

function isCurrentUser(userId) {
    return request.auth.uid == userId;
}

function isImageAndBelowMaxSize() {
    return request.resource == null // Allow deletes
            || request.resource.size < 5 * 1024 * 1024 // Size bellow 5MB
                && request.resource.contentType.matches('image/.*') // The file is an image
}

service firebase.storage {
    match /b/{bucket}/o {
        match /user_photos/{userId}/{allPaths=**} {
            allow read: if isLoggedIn();
            allow write: if isCurrentUser(userId) && isImageAndBelowMaxSize();
        }
    }
}